<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Bloguinho" %></h2>
  <p class="lead">The bloguinho engine.</p>
</div>

<div class="jumbotron">
<div id="messages" >
     ladslalsd
asdlasdlasdl
</div>
</div>

<div id="chat-input" contenteditable="true" class="jumbotron">
</div>
